header {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A70F1;
    padding: 0rem 2rem 0rem 2rem;
    box-sizing: border-box;
    z-index: 1000000000000000000;
}

img {
    height: 90%;
    background: white;
    border-radius: 50%;
}

li {
    display: inline;
    margin: 0px 1rem 0px 1rem;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
}

@media(max-width:440px) {
    li {
        margin: 0px 0.2rem 0px 0.2rem;
        font-size: 1.2rem;
    }
}

@media(max-width:338px) {
    li {
        margin: 0px 0.2rem 0px 0.2rem;
        font-size: 1rem;
    }
}