<main>
    <div *ngFor="let animal of animals" class="cart">
        <div class="cart-img">
            <img [src]="animal.img" [alt]="animal.name">
        </div>
        <div class="cart-main">
            <h2 class="name">{{animal.name}}</h2>
            <div class="cart-body-header">
                <div class="cart-body-header-1">
                    <h3>Animal Age</h3>
                    <h3>Animal raze</h3>
                </div>
                <div class="cart-body-header-2">
                    <h3>{{animal.age}}</h3>
                    <h3>{{animal.raze}}</h3>
                </div>
            </div>
            <div class="cart-description">
                Animal-description: {{animal.description}}
            </div>
        </div>
    </div>
</main>